
/* ***************  SECTION - 1 *************** */
.wrapper__arrow-up {

    position: fixed;
    bottom: 70px;
    right: 15px;
    z-index: 10000;
    width: 50px;
    height: 50px;

    background: #fff;
    border-radius: 50%;

    display: none;
    transition: all .5s;
    /* animation: animation-arrow 1.5s infinite; */
}

.wrapper__arrow-up svg {

    width: 100%;
    height: 100%;
}

@keyframes animation-arrow {
    0% {
    transform: scale(1);

    }

    50% {
        transform: scale(1.2);
    
    }

    100% {
        transform: scale(1);
    
    }
}

.wrapper__arrow-up:hover {

    background: rgb(27, 26, 26);
    fill: #fff;
    cursor: pointer;
    /* transform: scale(1.2); */

}

.wrapper__arrow-up.active {

    display: block;

}

.wrapper__arrow-up .main__arrow-up {

    position: absolute;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%) rotate(180deg);
    width: 70%;

    
}



.section {
    
    width: 100%;

    background: rgb(225, 224, 224);

    /* scroll-behavior: smooth; */

}

.main-section {
    position: relative;

    height: 100vh;
    background: url(../images/BG-0.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

  
}

.main-section::before {

    content: '';
    width: 100%;
    height: 100vh;

    position: absolute;
    background: rgba(0,0,0,.7);
    z-index: 0;
}

.header {

    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    width: 10%;

    opacity: 0;

    transition: .5s;
   
}

.header.active {

    opacity: 1;
}

.header-fixed {

    position: fixed;
 
    top: 0;
    right: 10px;
    transform: translateY(-100%);
    /* background: #FF0000;  */
    opacity: 0;

    transition: all 1s;

    z-index: 10;

    
}

.header-fixed.active {

    opacity: 1;

    transform: translateY(0%);

}

.list__desctop-menu-fixed {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}



.item__desctop-menu-fixed {

    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 50px;
    
    margin: 20px 0 50px 5px;

    

}

.item__desctop-menu-fixed:nth-child(1) {

    margin-top: 50px;
}

.item__desctop-menu-fixed:hover {

    cursor: pointer;
   
}


.item__desctop-menu-fixed::before {

    content: '';
    position: absolute;
    bottom: -7px;
    left: 0px;

   
    width: 100%;
    height: 3px;

    background: rgb(255, 255, 255);

    transition: .5s;

    opacity: 0;

}


.item__desctop-menu-fixed:hover .link__desctop-menu-fixed,
.item__desctop-menu-fixed:hover.item__desctop-menu-fixed::before
{

    color: rgb(130, 128, 128);
    opacity: 1;

}


.link__desctop-menu-fixed {

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: .3s;
}

.item__desctop-menu-fixed.active.item__desctop-menu-fixed::before,
.item__desctop-menu-fixed.active .link__desctop-menu-fixed{

    opacity: 1;
    color: rgb(130, 128, 128);
    font-size: 25px;

}

.link__desctop-menu-fixed:hover {

    font-size: 25px;

}

.wrapper__description {
   
    position: relative;
    z-index: 1;
    left: 50%;
    top: 70%;
    width: 75%;
    transform: translate(-50%, -50%);

    text-align: center;


}

.main__title {

    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 50px;
    letter-spacing: 8px;
    text-align: center;
   
    font-family: 'Smooch', cursive;

}



.main__title::before {

    content: '';
    position: absolute;
    top: 50%;
    left: -60px;

    width: 50px;
    height: 5px;
    transform: translateY(-50%);

    background: #fff;

}

.main__title::after {

    content: '';
    position: absolute;
    top: 50%;
    right: -60px;

    width: 40px;
    height: 5px;
    transform: translateY(-50%);

    background: #fff;

}

.main__sub-title {

    color: #fff;

    font-family: 'Caveat', cursive;
    font-size: 40px;
    font-weight: 900;

    letter-spacing: 8px;

}

.menu-burger {

    position: fixed;

    top: 0px;
    right: 0px;
    transform: translateX(100%);

    Z-index: 100;
    width: 100%;
    height: 100%;
    background: rgb(141, 15, 15);

    display: none;
    transition: .5s;
}

.menu-burger.active {

    transform: translateX(0px);

}

.logo__mobile-menu .btn-icon {

    fill: rgb(255, 255, 255);
    position: absolute;
   
    width: 20px;
    height: 20px;

}

.btn-burger {

    top: 15px;
    left: -40px;
    display: none;

   

}

.btn-burger.active {

    display: block;

}

.btn-clouse {

    top: 15px;
    left: 15px;
    display: none;
    fill: #fff;
}

.btn-clouse.active {

    display: block;

}

.mobile-menu {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.item__mobile-menu {
    position: relative;
    
    width: 200px;

    height: 50px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 4px;

    color: #333;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: italic;

    text-transform: uppercase;

    color: #fff;
    letter-spacing: 3px;

    /* overflow: hidden; */

    display: flex;
    align-items: center;
    justify-content: center;

    background: #54585D;

}

.item__mobile-menu::before {

    content: '';

    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 1;

    transform: translateX(50%);
  
    width: 50%;
    height: 3px;

    transition: .7s;
}

.item__mobile-menu.active {

    background: none;


}

.item__mobile-menu.active.item__mobile-menu::before {

    background: #fff;


}

/* .item__mobile-menu.active .link__burger-menu:before {

    opacity: 1;

} */

/* .link__burger-menu.active.link__burger-menu:before{

    opacity: 1;

} */

/* .link__burger-menu {

    position: relative;
    color: #333;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: italic;

    text-transform: uppercase;

    color: #fff;
    letter-spacing: 3px;

    overflow: hidden;
} */

/* 
.link__burger-menu::before {

    content: '';

    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 3px;
    background: red;

    transition: .7s;
} */

.list__desctop-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}



.item__desctop-menu {

    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 50px;
    /* padding: 5px 10px; */
    margin: 20px 0 50px 5px;

}

.item__desctop-menu:nth-child(1) {

    margin-top: 50px;
}

.item__desctop-menu:hover {

    cursor: pointer;
   
}


.item__desctop-menu::before {

    content: '>';
    position: absolute;
    top: 50%;
    left: -30px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    transform: translateY(-50%);

    color: rgb(130, 128, 128);

    font-size: 25px;
    font-weight: 900;
    transition: .5s;

    opacity: 0;

}


.item__desctop-menu:hover .link__desctop-menu,
.item__desctop-menu:hover.item__desctop-menu::before
{

    color: rgb(130, 128, 128);
    opacity: 1;

}


.item__desctop-menu-active .item__desctop-menu::before,
.item__desctop-menu-active .link__desctop-menu-active {

    opacity: 1;
    color: rgb(130, 128, 128);
    font-size: 25px;


}

.link__desctop-menu {

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: .3s;
}

.link__desctop-menu:hover {

    font-size: 25px;

}

.wrapper__social-icons {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;

}

.item__social-icon {

    position: relative;

    width: 60px;
    height: 60px;
    padding-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

}

.item__social-icon:nth-child(1) {

    padding-top: 3px;

}

.item__social-icon:not(:last-child) {

   
    margin: 0 10px 50px 0;

}

.item__social-icon svg {

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 26%);

    width: 40px;
    height: 40px;

    fill: #fff;
    transition: .2s ease-in-out;

    z-index: 10;
}


.item__social-icon:hover {

   
    box-shadow:  0px 0px 5px #fff;
    border-radius: 50%;
    background: transparent;


}
.item__social-icon .youtube:hover {

    fill: #FF0000;

    background-repeat: 50%;


}

.item__social-icon .vk:hover {

    fill: #597da3;
    

}

.item__social-icon .telegram:hover {

    fill: #0088cc;

}

.wrapper__window-error {

    width: 100%;
    height: 100vh;

    position: absolute;

    background: rgba(51, 51, 51, 0.72);

    z-index: 1000;

    display: none;
}

.wrapper__window-error.active {

    width: 100%;
    height: 100vh;

    position: absolute;

    background: rgba(51, 51, 51, 0.72);

    z-index: 1000;

    display: block;
}

.disabled {

    width: 100%;
    height: 100vh;
    position: relative;

    position: fixed;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, 0.72);

    z-index: 1000;
    display: block;

    overflow: hidden;

}

.wrapper__btn-exit {

    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
}

.wrapper__btn-exit .close {

    width: 40px;
    height: 40px;

    transition: all .3s ease-in-out;

    fill: #fff;

    animation: animateColor 3s infinite;


}



.wrapper__btn-exit .close:hover {

    cursor: pointer;
    transition: all .3s ease-in-out;

    transform: rotate(90deg) scale(1.2);

}

.wrapper__window-error .window__error {

    position: absolute;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 95%;
    transform: translate(-50%, -50%);

   
    background: #fff;
}

.wrapper__window-error .wrapper__cry-smile {

    max-width: 250px;
    max-height: 250px;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.wrapper__window-error .wrapper__cry-smile img {

    width: 100%;
    height: 100%;
}

.wrapper__window-error .window__error-title {

    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 35px;
    text-align: center;
   
    line-height: 50px;
}

/* ***************  SECTION - 2 *************** */

.section-video {


    background: url(../images/section-2/bg-fixed.jpg);
    background-attachment: fixed;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container {

    max-width: 1340px;
    height: max-content;
    padding: 0px 15px;

    margin: 0 auto;
}


.sec__main-title {

    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

  
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    font-weight: 900;

    color: #fff;

}

.wrapper__section-video-ratmir {

    width: 100%;
    height: max-content;

    margin-bottom: 40px;
    padding: 15px;
   

    border-bottom: 2px solid #fff;
    

}

.wrapper__section-video__title {

    width: 100%;
    text-align: center;

    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    padding: 20px 60px 20px 70px;
    margin-bottom: 15px;

}

.section-video__title {

    width: max-content;
    position: relative;
    
    font-size: 35px;
    font-weight: 700;
    font-family: sans-serif;

    margin: 0 auto;
    color: #fff;

}

.section-video__title::before {

    content:'';
    position: absolute;
    top: 20px;
    left: -60px;
    transform: translateY(-50%) rotate(45deg);

    width: 20px;
    height: 20px;

    background: #fff;


}

.section-video__title::after {
    position: absolute;
    
    content:'';
    top: 20px;
    right: -60px;
    transform: translateY(-50%) rotate(45deg);

    width: 20px;
    height: 20px;

    background: #fff;

    
}

.wrapper__section-video {

    width: 100%;
    height: max-content;

    /* background: green; */
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.item-video {

    position: relative;
    width: 49%;
    height: 340px;
    /* margin-right: 10px; */
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

   
    
}

.video__sub-title  {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 100%;
    text-align: center;

    transform: translate(-50%, -50%);

    font-size: 25px;
    color: #fff;
}

.item-video:hover {
    cursor: pointer;
}

.item-video img {

    width: 100%;
    height: 340px;
}

.item-video:nth-child(2) {
    margin-right: 0px;
}

.item-video:nth-child(6):hover {
    cursor:default;
}

.item-video video {

    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;

}

.wrapper__videos {

    display: grid;
    gap: 20px;

    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));

    /* grid-template-rows: repeat(4, 1fr); */


    border-radius: 18px;

}

.wrapper__video {

    position: relative;
    aspect-ratio: 16 / 9;
    margin-bottom: 10px;

}

.wrapper__video video {

    border-radius: 8px;
    transition: .5s;

}

.item__video-content {

    margin-bottom: 20px;

    border-radius: 14px;
}

.wrapper__text {

    background: rgba(0, 0, 0, 0.727);
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
}

.wrapper__text div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg__wrapper {

    position: absolute;
    width: 100%;
    height: 100%;

    
    border-radius: 8px;

    background: #000;

}


.wrapper__video video:hover {

    transform: scale(1.05);

}
.video__item {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

   
}

.video__description {

  
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;

    color: #fff;

}

.video__text {

    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    line-height: 30px;

    color: #fff;


}

.section-photo {
    position: relative;
    width: 100%;
    height: 100vh;

    background: url('../images/section-3/bg-fixed.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.wrapper__popap-window-photo {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: #000000b6;

    /* opacity: 1; */
    
    display: none;


    z-index: 10000;
}

.wrapper__popap-window-photo.active {
    display: block;
}

.popap__close-btn {

    position: absolute;
    top: 0;
    right: 15px;
    width: 35px;
    height: 35px;

    

    font-size: 30px;
    transform: scale(1);

    /* background: red; */

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform .8s;
}

.popap__close-btn:hover {

    cursor: pointer;

    transform: scale(1.2);
}

.wrapper__popap-window-for-img {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;

    background: #fff;

}

.wrapper__blur-section-photo {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    

    background: rgba(84, 151, 209, 0.29);

}

.section__photo-main-title {

    width: 100%;

    background: rgb(70, 70, 70);

    
}

.container__section-photo {

    padding: 0px 15px;
}



.wrapper__photo-items {

    position: relative;
   
    width: 100%;
    height: 800px;

} 



.section-photo .sub-title {

    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 900;
    color: #fff;
    
    z-index: 50;
    
}

.item__photo {

  
    position: absolute;
    width: 200px;
    height: 200px;

    border-radius: 4px;

    margin-bottom: 10px;
    transform: rotate(-45deg);
    overflow: hidden;

}

.item__photo::before {

    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(51, 51, 51, 0.77);

    transition: .8s;

    opacity: 1;

    z-index: 1;
}

.item__photo:hover.item__photo::before {


    opacity: 0;


    cursor: pointer;
}


.wrapper__description-photo {

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 3;
}

.wrapper__arrow {

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: 100px;
    height: 70px;

    fill: #fff;



    z-index: 1;
    
}

.wrapper__arrow.active {

    background: #333;

}

.wrap-arrow-1 {

 
    top: 50%;
    left: 50px;
    transform: rotate(180deg);
}

.wrap-arrow-2 {

    right: 150px;
}


.description__photo {

    color: #fff;

    transform: rotate(45deg);

    font-size: 35px;
    
}

.item__photo-1 {

    top: 50px;
    left: 50px;
}

.item__photo-2 {

    top: 50px;
    left: 350px;
}

.item__photo-3 {

    top: 50px;
    left: 650px;
  
}

.item__photo-4 {

    top: 50px;
    left: 950px;
   
}

.item__photo-5 {

    top: 200px;
    left: 200px;

}

.item__photo-6 {

    top: 200px;
    left: 500px;
}

.item__photo-7 {
    top: 200px;
    left: 800px;
    
}

.item__photo-8 {

    top: 200px;
    left: 1100px;

 
}

.item__photo-9 {

    

    top: 350px;
    left: 50px;
   
}

.item__photo-10 {

    top: 350px;
    left: 350px;
  
}

.item__photo-11 {

    top: 350px;
    left: 650px;
   
}

.item__photo-12 {

    top: 350px;
    left: 950px;
}

.item__photo-13 {

    bottom: 80px;
    left: 200px;
}

.item__photo-14 {

 

    bottom: 80px;
    left: 500px;
}

.item__photo-16 {
   
 
    bottom: 80px;
    left: 800px;
    
}

.item__photo-15 {
   
 
    bottom: 80px;
    right: 310px;
    
}

.item__photo-16 {

    bottom: 380px;
    left: 50px;
}




.wrapper__photo {

    position: relative;

    width: 100%;
    height: 100%;

    color: #fff;
    width: 100%;

    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.wrapper__photo img {

    width: 150%;
    height: 150%;


    transition: transform .5s;
    transform: rotate(45deg);

    /* filter: blur(2px); */
    
}

.wrapper__photo svg {

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 50px;
    height: 50px;

    fill: #fff;
    transition: transform .5s ease-in-out;

    z-index: 10000;

    opacity: 0;

    transition: 1s;

    /* display: none; */
}

.wrapper__photo:hover {

    cursor: pointer;

}

.wrapper__photo:hover svg {

    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 1;
    cursor: pointer;


}

.wrapper__photo svg:hover {

    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    opacity: 1;
    cursor: pointer;


}

.item-photo-shadow {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: opacity .5s;

    opacity: 0;

    background: rgba(51, 51, 51, 0.852);

    z-index: 100;
}

.wrapper__photo:hover img,
.wrapper__photo.active img {

    transform: scale(1.1) rotate(45deg);

    filter: blur(0px);

}

/* .wrapper__photo.active img {

    transform: scale(1.1) rotate(45deg);

    filter: blur(0px);

} */

.wrapper__photo:hover .item-photo-shadow {

    opacity: 0;

    transform: translateY(100%);

}


.wrapper__photo .sub-title {

    transform: rotate(45deg);
}

.sec__main-title-4 {

    font-family: 'BoomBoom'; 

    font-size: 40px;
    letter-spacing: 8px;
    
    padding: 20px 15px;
    text-align: center;

}

.wrapper__music-player {

    background: grey;
    width: 100%;
    height: 500px;
}


.sec-4 {

    padding-bottom: 15px;
} 















.footer {

    width: 100%;
    background: #000;
    
}

.footer__description {

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(104, 104, 104);
    font-size: 25px;
    padding: 15px;

    /* border-top: 2px solid #fff; */
}



